nav {
  background-color: var(--nav_background_color);
  color: var(--nav_color);
  display: flex;
  z-index: 1000;
}
.fixed_top_nav {
  background-color: var(--fixed_top_nav_background_color);
  color: green;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: ;
  margin: auto;
}
.nav_logo_container {
  display: inline;
  background-color: var(--nav_logo_container_background_color);
  padding: ;
  width:5rem;
}
.nav_link_container {
  margin: auto 1rem auto auto;
  line-height: 2rem;
}
.nav_logo {
  width: 100%;
  height:100%;
}
.nav_link {
  color: var(--nav_link_color);
  margin: auto 1rem auto auto;
  text-decoration: none;
}
.nav_link:hover {
  color: var(--nav_link_hover_color);
  background-color: var(--nav_link_hover_background_color);
  border-radius: 15%;
}
.nav_search {
  background-color: var(--nav_search_background_color);
  color: var(--nav_search_color);
  padding: ;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  outline: none;
  margin: auto auto 0.25rem auto;
}
.nav_search_button {
  color: var(--nav_search_button_color);
  background-color:  var(--nav_search_button_background_color);
}
