:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000000;
  --blacktransparent1: rgba(0, 0, 0, 0.10);
  --blacktransparent2: rgba(0, 0, 0, 0.20);
  --blacktransparent3: rgba(0, 0, 0, 0.30);
  --blacktransparent4: rgba(0, 0, 0, 0.40);
  --blacktransparent5: rgba(0, 0, 0, 0.50);
  --blacktransparent6: rgba(0, 0, 0, 0.60);
  --blacktransparent7: rgba(0, 0, 0, 0.70);
  --blacktransparent8: rgba(0, 0, 0, 0.80);
  --blacktransparent9: rgba(0, 0, 0, 0.90);
  --blacktransparent10: rgba(0, 0, 0, 0.100);
  --darkslategray: #2F4F4F;
  --slategray: #708090;
  --lightslategray: #778899;
  --dimgray: #696969;
  --gray: #808080;
  --darkgray: #A9A9A9;
  --silver: #C0C0C0;
  --lightgray: #D3D3D3;
  --darkgray: #A9A9A9;
  --gainsboro: #DCDCDC;
  --white: #FFFFFF;
  --snow: #FFFAFA;
  --honeydew: #F0FFF0;
  --mintcream: #F5FFFA;
  --azure: #F0FFFF;
  --ghostwhite: #F8F8FF;
  --whitesmoke: #F5F5F5;
  --seashell: #FFF5EE;
  --beige: #F5F5DC;
  --oldlace: #FDF5E6;
  --floralwhite: #FFFAF0;
  --ivory: #FFFFF0;
  --antiquewhite: #FAEBD7;
  --linen: #FAF0E6;
  --lavenderblush: #FFF0F5;
  --mistyrose: #FFE4E1;
  --navajowhite: #FFDEAD;
  --lightsalmon: #FFA07A;
  --salmon: #FA8072;
  --darksalmon: #E9967A;
  --lightcoral: #F08080;
  --indianred: #CD5C5C;
  --crimson: #DC143C;
  --firebrick: #B22222;
  --red: #FF0000;
  --darkred: #8B0000;
  --maroon: #800000;
  --tomato: #FF6347;
  --orangered: #FF4500;
  --palevioletred: #DB7093;
  --aliceblue: #F0F8FF;
  --lavender: #E6E6FA;
  --powderblue: #B0E0E6;
  --lightblue: #ADD8E6;
  --skyblue: #87CEEB;
  --deepskyblue: #00BFFF;
  --lightsteelblue: #B0C4DE;
  --dodgerblue: #1E90FF;
  --cornflowerblue: #6495ED;
  --steelblue: #4682B4;
  --cadetblue: #5F9EA0;
  --mediumslateblue: #7B68EE;
  --slateblue: #6A5ACD;
  --darkslateblue: #483D8B;
  --royalblue: #4169E1;
  --blue: #0000FF;
  --mediumblue: #0000CD;
  --darkblue: #00008B;
  --navy: #000080;
  --midnightblue: #191970;
  --blueviolet: #8A2BE2;
  --indigo: #4B0082;
  --lawngreen: #7CFC00;
  --chartreuse: #7FFF00;
  --limegreen: #32CD32;
  --lime: #00FF00;
  --forestgreen: #228B22;
  --green: #008000;
  --darkgreen: #006400;
  --greenyellow: #ADFF2F;
  --yellowgreen: #9ACD32;
  --springgreen: #00FF7F;
  --mediumspringgreen: #00FA9A;
  --lightgreen: #90EE90;
  --palegreen: #98FB98;
  --darkseagreen: #8FBC8F;
  --mediumseagreen: #3CB371;
  --lightseagreen: #20B2AA;
  --seagreen: #2E8B57;
  --olive: #808000;
  --darkolivegreen: #556B2F;
  --olivedrab: #6B8E23;
  --thistle: #D8BFD8;
  --plum: #DDA0DD;
  --violet: #EE82EE;
  --orchid: #DA70D6;
  --fuchsia: #FF00FF;
  --magenta: #FF00FF;
  --mediumorchid: #BA55D3;
  --mediumpurple: #9370DB;
  --blueviolet: #8A2BE2;
  --darkviolet: #9400D3;
  --darkorchid: #9932CC;
  --darkmagenta: #8B008B;
  --purple: #800080;
  --coral: #FF7F50;
  --gold: #FFD700;
  --orange: #FFA500;
  --darkorange: #FFA500;
  --peru: #CD853F;
  --chocolate: #D2691E;
  --saddlebrown: #8B4513;
  --sienna: #A0522D;
  --goldenyellow: #FFDF00;
  --metallicgold: #D4AF37;
  --oldgold: #CFB53B;
  --vegasgold: #C5B358;
  --palegold: #E6BE8A;
  --goldenbrown: #996515;
  --lightyellow: #FFFFE0;
  --lemonchiffon: #FFFACD;
  --lightgoldenrodyellow: #FAFAD2;
  --papayawhip: #FFEFD5;
  --moccasin: #FFE4B5;
  --peachpuff: #FFDAB9;
  --palegoldenrod: #EEE8AA;
  --khaki: #F0E68C;
  --darkkhaki: #BDB76B;
  --yellow: #FFFF00;
  --olive: #808000;
  --greenyellow: #ADFF2F;
  --yellowgreen: #9ACD32;
  --lightyellow1: #FFFFCC;
  --lightyellow2: #FFFF99;
  --lightyellow3: #FFFF66;
  --lightyellow4: #FFFF33;
  --darkyellow1: #CCCC00;
  --darkyellow2: #999900;
  --darkyellow3: #666600;
  --darkyellow4: #333300;
  --lightcyan: #E0FFFF;
  --cyan: #00FFFF;
  --aqua: #00FFFF;
  --aquamarine: #7FFFD4;
  --mediumaquamarine: #66CDAA;
  --paleturquoise: #AFEEEE;
  --turquoise: #40E0D0;
  --mediumturquoise: #48D1CC;
  --darkturquoise: #00CED1;
  --lightseagreen: #20B2AA;
  --darkcyan: #008B8B;
  --teal: #008080;
  --cornsilk: #FFF8DC;
  --blanchedalmond: #FFEBCD;
  --bisque: #FFE4C4;
  --wheat: #F5DEB3;
  --burlywood: #DEB887;
  --tan: #D2B48C;
  --rosybrown: #BC8F8F;
  --sandybrown: #F4A460;
  --goldenrod: #DAA520;
  --brown: #A52A2A;
  --pink: #FFC0CB;
  --lightpink: #FFEBCD;
  --hotpink: #FF69B4;
  --deeppink: #FF1493;
  --mediumvioletred: #C71585;

  --dashedborder: 0.1rem dashed black;

  --dottedborder: 0.20rem dotted black;

  --doubleborder: 0.32rem double black;

  --insetborder: 0.25rem inset;

  --solidborder: 0.025rem solid black;

  --marginauto: auto auto auto auto;
  --margin1: 0.25rem 0.25rem 0.25rem 0.25rem;
  --margin2:  0.5rem 0.5rem 0.5rem 0.5rem;
  --margin3: 0.75rem 0.75rem 0.75rem 0.75rem;
  --margin4: 1rem 1rem 1rem 1rem;

  --serif: "Times New Roman", Times, serif;

  --sans-serif: Arial, Helvetica, sans-serif;

  --monospace:  "Lucida Console", Courier, monospace;

  --box_shadow_1: 0rem 0.1rem 1rem 0.1rem var(--blacktransparent3);

}
